module.exports = {
    endpoint: "http://127.0.0.1:8787",
    // Replace with a real filename from your bucket
    filename: "/bucket-path-to/example.file",
    // Replace with a filename that does not exist in your bucket
    invalidfile: "/invalid-file-12345.jpg"
}
