main = "src/worker.ts"
compatibility_date = "2023-07-10"
name = "b2-cloudflare-worker"

account_id = ""
workers_dev = true

[vars]
BUCKET_NAME = "my-cool-bucket"
CACHE_CONTROL = "public,max-age=172800"
